# Yep, a BarChart

*Well, I like some CamelCase there.*

#####

**There** is a trade - off between Stacked bar vs Clustered bar. Because if we use the stacked, we can't say how much count is from what category. But if we do the clustered, we can see count of each category.

But there, we can't see total number, as we have to count. **So my suggestion** is to add a TOTAL COUNT in the clustered chart. It will look nice. But again, it depends on the situation which type looks better.

#

In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [4]:
df = pd.read_csv("../../DATA/Data/2018WinterOlympics.csv")
df

    Rank                NOC  Gold  Silver  Bronze  Total
0      1             Norway    14      14      11     39
1      2            Germany    14      10       7     31
2      3             Canada    11       8      10     29
3      4      United States     9       8       6     23
4      5        Netherlands     8       6       6     20
5      6             Sweden     7       6       1     14
6      7  Republic of Korea     5       8       4     17
7      8        Switzerland     5       6       4     15
8      9             France     5       4       6     15
9     10            Austria     5       3       6     14
10    11              Japan     4       5       4     13
11    12              Italy     3       2       5     10
12    13                OAR     2       6       9     17
13    14     Czech Republic     2       2       3      7
14    15            Belarus     2       1       0      3
15    16              China     1       6       2      9
16    17           Slovakia     1       2       0      3
17    18            Finland     1       1       4      6
18    19      Great Britain     1       0       4      5
19    20             Poland     1       0       1      2
20    21            Hungary     1       0       0      1
21    21            Ukraine     1       0       0      1
22    23          Australia     0       2       1      3
23    24           Slovenia     0       1       1      2
24    25            Belgium     0       1       0      1
25    26              Spain     0       0       2      2
26    26        New Zealand     0       0       2      2
27    28         Kazakhstan     0       0       1      1
28    28             Latvia     0       0       1      1
29    28      Liechtenstein     0       0       1      1

#

## Simple Bar

In [32]:
plot = [go.Bar(x=df.NOC, y=df.Total)]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

So simple. Let's make some fun with clusters.

#

## Clustered Bar

**Note**: `plotly` doesn't provide the actual (built-in) thing for clusters. We have to join the pieces together. <br>
**But**, the <u>good thing</u> is, it is INTELLIGENT enough, that if you provide ***multiple barcharts*** together with repeatative X-axis values, it will combine the bars of that into a cluster and ... there! you have the cluster bar chart!

In [38]:
trace_1 = go.Bar(x=df.NOC, y=df.Gold, name="Gold", marker=dict(color="gold"))
trace_2 = go.Bar(x=df.NOC, y=df.Silver, name="Silver", marker=dict(color="silver"))
trace_3 = go.Bar(x=df.NOC, y=df.Bronze, name="Bronze", marker=dict(color="brown"))

plot = [trace_1, trace_2, trace_3]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

**Amazingly** cool!

#

## Stacked Bar

Now, again, if we want something - a type of chart in plotly, it makes us to *join the patches* together and itself is INTELLIGENT ehough that it can interpret things easily.

Stacked Bar, has no new syntax. The code is **same as the clustered bar** as we did just now, just a parameter is waiting for us to be written.

```python
go.Layout(barmode="stack")
```
That's it. <br>
— <br>
But still, we have to add a line of Layout, because otherwise it wouldn't know.

In [39]:
trace_1 = go.Bar(x=df.NOC, y=df.Gold, name="Gold", marker=dict(color="gold"))
trace_2 = go.Bar(x=df.NOC, y=df.Silver, name="Silver", marker=dict(color="silver"))
trace_3 = go.Bar(x=df.NOC, y=df.Bronze, name="Bronze", marker=dict(color="brown"))

plot = [trace_1, trace_2, trace_3]
layout = go.Layout(barmode="stack") # ignoring the title argument

fig = go.Figure(data=plot, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

Cool! isn't it?

#

Playing with stuff...

In [44]:
trace_1 = go.Bar(x=df.NOC, y=df.Gold, name="Gold", marker=dict(color="gold"))
trace_2 = go.Bar(x=df.NOC, y=df.Silver, name="Silver", marker=dict(color="silver"))
trace_3 = go.Bar(x=df.NOC, y=df.Bronze, name="Bronze", marker=dict(color="brown"))

# Trying the scatter with bar
trace_4 = go.Scatter(x=df.NOC, y=df.Total, mode="markers", name="Scatter")

plot = [trace_1, trace_2, trace_3, trace_4]
layout = go.Layout(barmode="stack") # ignoring the title argument

fig = go.Figure(data=plot, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

That ensures that, `barmode = "stacked"` only applies to the BAR traces!

#

Adding another bar, which has different values.

In [45]:
trace_1 = go.Bar(x=df.NOC, y=df.Gold, name="Gold", marker=dict(color="gold"))
trace_2 = go.Bar(x=df.NOC, y=df.Silver, name="Silver", marker=dict(color="silver"))
trace_3 = go.Bar(x=df.NOC, y=df.Bronze, name="Bronze", marker=dict(color="brown"))

# Trying the another values of bar
trace_4 = go.Bar(x=["Aayush", "Sameer", "Shah"], y=[21, 55, 100], name="Another Bar")

plot = [trace_1, trace_2, trace_3, trace_4]
layout = go.Layout(barmode="stack") # ignoring the title argument

fig = go.Figure(data=plot, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

######

Same concept

In [47]:
trace_1 = go.Bar(x=df.NOC, y=df.Gold, name="Gold", marker=dict(color="gold"))
trace_2 = go.Bar(x=df.NOC, y=df.Silver, name="Silver", marker=dict(color="silver"))
trace_3 = go.Bar(x=df.NOC, y=df.Bronze, name="Bronze", marker=dict(color="brown"))

# Trying the another values of bar
trace_4 = go.Bar(x=["Aayush", "Sameer", "Shah"], y=[21, 55, 100], name="Another Bar")
trace_5 = go.Bar(x=["Aayush", "Sameer", "Shah"], y=[20, 45, 50], name="Another Bar 2")

plot = [trace_1, trace_2, trace_3, trace_4, trace_5]
layout = go.Layout(barmode="stack") # ignoring the title argument

fig = go.Figure(data=plot, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\2. Bar Charts\\temp-plot.html'

#

# That's it!
The Bar Chart is done man! Let's move forward to the excercise.