In [3]:
# %load Heatmap.py
#######
# Objective: Using the "flights" dataset available
# from the data folder as flights.csv
# create a heatmap with the following parameters:
# x-axis="year"
# y-axis="month"
# z-axis(color)="passengers"
######

# Perform imports here:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go


# Create a DataFrame from  "flights" data
df = pd.read_csv('../../DATA/data/flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [6]:
# Define a data variable
trace = [go.Heatmap(x=df.year, y=df.month, z=df.passengers)]

# Define the layout
layout = go.Layout(title="Whole Data")
fig = go.Figure(data=trace, layout=layout)

# Create a fig from data and layout, and plot the fig
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\7. Heatmaps\\temp-plot.html'

# Whoo Whoo!
I mean, we have completed the basics of plotly. Nextly we will take a tour at Dash.