# Box Plot

*This is gonna be amazing one!*

#

**Whiskers**: The lines above and below box. Shows the data more than Q3 and lower than Q1. (Min - Q1 = 25% and Q3 - Max = 25%)<br>
**Upper Fence**: The Max Point which is not an outlier but after that, all will be outliers<br>
**Lower Fence**: The Min Point which is not an outlier but before that, all will be outliers<br>
> A box plot **identifies the outliers *BASED ON MEDIAN* compared to the rest of the data**

### What are the outliers?
Outliers are those values which are:
* **Greater than Q3** and **1.5 x (Q3 - Q1)**
* **Less than Q1** and **1.5 x (Q3 - Q1)**

#

In [1]:
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

#

## Box plot with 1 category.
Which will be a single feature only.

In [65]:
# Making a data with out liers
y = [-22,1,1,2,3,4,5,4,5,4,5,6,5,6,5,7,5,6,5,6,4,6,16,16,13,29,12,33,33,55,44,33]

In [66]:
plot = [go.Box(y=y)]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

See? -22, 33, 44, 55 are the outliers.

######

##### Checking the calculation of outliers

In [63]:
MIN, Q1, Q2, Q3, MAX = np.quantile(np.array(y), [0, 0.25, 0.5, 0.75, 1])
MIN, Q1, Q2, Q3, MAX

(-22.0, 4.0, 5.5, 13.75, 55.0)

**See,**<br>
-22 → MINIMUM <br>
4   → Q1 <br>
5.5 → Q2 <br>
13.75 → Q3 <br>
55 → MAXIMUM <br>

<img src="outlier.png" width=500. height=500>

In [39]:
# Q3 - Q1 = IQR
IQR = Q3 - Q1
IQR

9.75

In [41]:
# IQR x 1.5
LIMIT = IQR * 1.5
LIMIT

14.625

In [68]:
MAXIMUM = Q3 + LIMIT
MINIMUM = Q1 - LIMIT

(MINIMUM, MAXIMUM)

(-10.625, 28.375)

> ## So, the values `Greater than MAXIMUM` and `Lower than MINIMUM` will be an outlier.

#

### Showing the `Datapoints` along with the box plot

In [70]:
                ### POI ↓ POI ###
plot = [go.Box(y=y, boxpoints='all')]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

↑ This one shows the points on the left side. With the default jitter. <br>
If you want to show the point on some other place, and control jitter... see this ↓

In [72]:
                                ### POI ↓   POI   ↓ POI ###
plot = [go.Box(y=y, boxpoints='all', jitter=0.9, pointpos=0.6)]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

```python
plot = [..., boxpoints='all')]
```
boxpoints=`all` wil; show all points. If you only want to show `outliers` then change `all` to `outliers`

In [80]:
                ### POI ↓ POI ###
plot = [go.Box(y=y, boxpoints='outlier', pointpos=0.8, jitter=0.3)]
pyo.plot(plot)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

#

## Box plot with 2 categories.
2 Category - 1 feature to compare

In [81]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [82]:
traces = [go.Box(y=snodgrass, name="Snodgrass"),
          go.Box(y=twain, name="Twain")]

pyo.plot(traces)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

Easy. But I need some more... Let's compare multiple features with some tipping data.

### Some box plots on titanic dataset

In [2]:
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [88]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# Show the age distribution by CLASS - GENDER

In [6]:
traces = [go.Box(x=titanic["class"],
                 y=titanic[titanic["sex"] == sex].age,
                 name=sex)
         for sex in titanic.sex.unique()]

                ### POI ↓ POI ###
layout = go.Layout(boxmode="group")
fig = go.Figure(data=traces, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

#

# With `Mean` and `SD` *(COOLEST)*

In [7]:
traces = [go.Box(x=titanic["class"],
                 y=titanic[titanic["sex"] == sex].age,
                 name=sex,
                 boxmean = 'sd')
          ### POI ↑ POI ###
         for sex in titanic.sex.unique()]

layout = go.Layout(boxmode="group")
fig = go.Figure(data=traces, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

#### We can also show multiple features

In [3]:
traces = [go.Box(x=titanic["class"],
                 y=titanic[titanic["sex"] == sex].age,
                 name=sex)
         for sex in titanic.sex.unique()]

traces = traces + [go.Box(x=titanic["class"],
                         y=titanic[titanic["embarked"] == embarked].age,
                         name=embarked)
                 for embarked in titanic.embarked.unique()]

                ### POI ↓ POI ###
layout = go.Layout(boxmode="group")
fig = go.Figure(data=traces, layout=layout)
pyo.plot(fig)

'file://C:\\Users\\GIGABYTE\\Desktop\\Plot.ly\\1. Plotly — Basics\\4. Box Plots\\temp-plot.html'

See? Cool.

# Next up,
I will perform an exercise.